flows.json
[{"id":"f8b31bc3.04bdc8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"e95b0e4f.5783d","type":"debug","z":"f8b31bc3.04bdc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":80,"wires":[]},{"id":"2f4d35e1.8d45ea","type":"function","z":"f8b31bc3.04bdc8","name":"Temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":20,"wires":[["e95b0e4f.5783d","7f36c41f.12befc"]]},{"id":"5f333332.eba3fc","type":"function","z":"f8b31bc3.04bdc8","name":"Humidity","func":"global.set('humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["e95b0e4f.5783d","7941e2b3.0ec91c"]]},{"id":"4935c2c.8d87f3c","type":"http in","z":"f8b31bc3.04bdc8","name":"data","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":150,"y":300,"wires":[["d4999655.589d18"]]},{"id":"fa9c2e18.ad073","type":"http response","z":"f8b31bc3.04bdc8","name":"","statusCode":"","headers":{},"x":570,"y":300,"wires":[]},{"id":"d4999655.589d18","type":"function","z":"f8b31bc3.04bdc8","name":"","func":"msg.payload={'temperature':global.get(\"temperature\"),'humidity':global.get(\"humidity\"),'vibration':global.get(\"vibration\"),'current':global.get(\"current\")}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["fa9c2e18.ad073"]]},{"id":"cc0449c4.37c928","type":"http in","z":"f8b31bc3.04bdc8","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":170,"y":360,"wires":[["b19546ce.e7db78"]]},{"id":"1adddc05.6541f4","type":"http response","z":"f8b31bc3.04bdc8","name":"","statusCode":"","headers":{},"x":560,"y":360,"wires":[]},{"id":"b19546ce.e7db78","type":"function","z":"f8b31bc3.04bdc8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["1adddc05.6541f4","e3d50091.57caa","ebfa2cd8.dbd66"]]},{"id":"e3d50091.57caa","type":"debug","z":"f8b31bc3.04bdc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":420,"wires":[]},{"id":"cf5b293a.6731c8","type":"function","z":"f8b31bc3.04bdc8","name":"Vibration","func":"global.set('vibration',msg.payload.Vibration)\nmsg.payload=msg.payload.Vibration\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["68a631b1.b6a21","e95b0e4f.5783d"]]},{"id":"7f72e4a8.7a440c","type":"function","z":"f8b31bc3.04bdc8","name":"Current","func":"global.set('current',msg.payload.Current)\nmsg.payload=msg.payload.Current\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["468de28.7398a1c","e95b0e4f.5783d"]]},{"id":"6136c4cf.228bbc","type":"ui_button","z":"f8b31bc3.04bdc8","name":"","group":"7957e428.ee3b0c","order":3,"width":0,"height":0,"passthru":false,"label":"MOTORON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTORON\"}","payloadType":"json","topic":"","x":230,"y":420,"wires":[["ebfa2cd8.dbd66"]]},{"id":"e30681f7.0050d","type":"ui_button","z":"f8b31bc3.04bdc8","name":"","group":"7957e428.ee3b0c","order":4,"width":0,"height":0,"passthru":false,"label":"MOTOROFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTOROFF\"}","payloadType":"json","topic":"","x":220,"y":480,"wires":[["ebfa2cd8.dbd66"]]},{"id":"7f36c41f.12befc","type":"ui_gauge","z":"f8b31bc3.04bdc8","name":"","group":"7957e428.ee3b0c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":20,"wires":[]},{"id":"7941e2b3.0ec91c","type":"ui_gauge","z":"f8b31bc3.04bdc8","name":"","group":"7957e428.ee3b0c","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":120,"wires":[]},{"id":"68a631b1.b6a21","type":"ui_gauge","z":"f8b31bc3.04bdc8","name":"","group":"7957e428.ee3b0c","order":2,"width":0,"height":0,"gtype":"gage","title":"Vibration","label":"hz","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":160,"wires":[]},{"id":"468de28.7398a1c","type":"ui_gauge","z":"f8b31bc3.04bdc8","name":"","group":"7957e428.ee3b0c","order":2,"width":0,"height":0,"gtype":"gage","title":"Current","label":"A","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":200,"wires":[]},{"id":"ebfa2cd8.dbd66","type":"ibmiot out","z":"f8b31bc3.04bdc8","authentication":"apiKey","apiKey":"f6a20699.55a0d8","outputType":"evt","deviceId":"123456","deviceType":"raspberrypi","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":560,"y":460,"wires":[]},{"id":"4ba27675.4c3a48","type":"ibmiot in","z":"f8b31bc3.04bdc8","authentication":"apiKey","apiKey":"f6a20699.55a0d8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":100,"y":100,"wires":[["2f4d35e1.8d45ea","5f333332.eba3fc","cf5b293a.6731c8","7f72e4a8.7a440c"]]},{"id":"7957e428.ee3b0c","type":"ui_group","z":"","name":"Default","tab":"e602048a.779338","order":1,"disp":true,"width":"6","collapse":false},{"id":"f6a20699.55a0d8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"e602048a.779338","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]